.nav--tabs {
    margin-bottom: 35px;
    border: none;
    @include breakpoint(md) {
        margin-bottom: 45px;
    }
    li {
        padding: 0;
        a {
            padding: 5px 15px 2px;
            @include border-radius(20px);
            @include transition($transition);
            font-weight: 500;
            font-family: $heading;
            color: $title;
            cursor: pointer;
            &.active {
                // background: $base;
                color:  $base;
                text-decoration: underline;
            }
        }
    }
}
.trip-single-sidebar {
    .widget {
        padding: 30px 20px 20px;
    }
}
.trip-details {
    .title-area {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .price {
            sub {
                font-size: 16px;
                font-weight: 400;
            }
        }
        .title {
            max-width: 620px;
        }
        .title, .price {
            margin: 0;
        }
    }
    .thumb {
        height: 500px;
        margin-bottom: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include breakpoint(max-xl) {
        .title-area {
            margin-bottom: 15px;
        }
    }
    @include breakpoint(max-md) {
        .thumb {
            height: unset;
        }
    }
}
.trip-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
    padding: 15px 10px;
    .info-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 12px 15px;
        .icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: rgba($color:$white, $alpha:.1);
            font-size: 24px;
            @include border-radius(2px);
        }
        .cont {
            width: calc(100% - 50px);
            padding-left: 10px;
            font-size: 14px;
            span {
                display: block;
            }
        }
        @include breakpoint(max-xl) {
            width: 50%;
        }
        @include breakpoint(max-xl) {
            width: 100%;
            max-width: 240px;
        }
    }
}
.trip-description {
    .item {
        padding: 45px 0;
        border-bottom: 1px solid $border-color;;
        &:first-child {
            padding-top: 0;
        }
        .title {
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        font-size: 14px;
        .info-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px -12px;
            li {
                width: calc(100% / 4);
                padding: 0 10px 10px 20px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    top: 8px;
                    left: 10px;
                    width: 5px;
                    height: 5px;
                    @include border-radius(50%);
                    background: $base;
                }
                @include breakpoint(max-md) {
                    width: 50%;
                }
            }
        }
        .extra-service {
            max-width: 500px;
            li {
                display: flex;
                justify-content: space-between;
                position: relative;
                padding: 0;
                padding-left: 15px;
                &::before {
                    position: absolute;
                    content: "";
                    top: 8px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    @include border-radius(50%);
                    background: $base;
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.long-banner, .vertical-banner {
    margin-top: 30px;
    a {
        display: inline-block;
        img {
            max-width: 100%;
        }
    }
}
.long-banner {
    margin-top: 30px;
    a {
        display: inline-block;
        img {
            max-width: 100%;
        }
    }
    @include breakpoint(max-lg) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
.maps {
    iframe {
        width: 100%;
        height: 400px;
    }
}
.review-item {
    @extend %flex;
    padding: 30px 0;
    border-bottom: 1px solid $border-color;;
    .thumb {
        width: 70px;
        height: 70px;
        @include border-radius(50%);
        overflow: hidden;
        margin: 0 !important;
        img {width: 100%;}
    }
    .content {
        padding-left: 30px;
        width: calc(100% - 70px);
        font-size: 14px;
        .entry-meta {
            @extend %flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .ratings {
                width: 100px;
                font-size: 16px;
                color: $star;
            }
            .posted-on {
                font-size: 16px;
                width: calc(100% - 100px);
                a {
                    font-weight: 700;
                }
                span {
                    margin-left: 5px;
                    font-size: 14px;
                    color: $body-color;
                }
            }
        }
    }
    @include breakpoint(max-md) {
        .content {
            width: 100%;
            padding: 20px 0 0;
        }
    }
    @include breakpoint(max-sm) {
        padding: 25px 0;
        .content {
            .entry-meta .posted-on {
                width: 100%;
            }
        }
    }
    &:first-child {
        padding-top: 0;
    }
}
.rating .rating-form-group {
    position: relative;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;
    .star-label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;

        &:last-child {
            position: static;
        }

        &:nth-child(1) {
            z-index: 5;
        }

        &:nth-child(2) {
            z-index: 4;
        }

        &:nth-child(3) {
            z-index: 3;
        }

        &:nth-child(4) {
            z-index: 2;
        }

        &:nth-child(5) {
            z-index: 1;
        }

        input {
            display: none;
        }

        .icon {
            float: left;
            color: transparent;
        }

        &:last-child .icon {
            color: $body-color;
        }
    }

    &:not(:hover) label input:checked ~ .icon, &:hover label:hover input ~ .icon {
        color: $star;
    }

    label input:focus:not(:checked) ~ .icon:last-child {
        color: rgba($color:$white, $alpha:.1);
        text-shadow: 0 0 5px $star;
    }
}
.review-label {
    color: $title;
    text-transform: capitalize;
}
.border--1 {
    border: 1px solid $border-color;
}
.mb-20 {
    margin-bottom: 20px;
}
.checkgroup-area {
    .form-check {
        font-family: $heading;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        label {
            cursor: pointer;
        }
    }
}
.room-desc-title {
    .title {
        margin-bottom: 25px;
    }
    p {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    margin-bottom: 40px;
}
.description-list-info {
    li {
        padding-left: 16px;
        &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $base;
            position: absolute;
            left: 0;
            top: 13px;
        }
        position: relative;
    }
}
.room-book-grp {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .selects {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        margin: 7px;
        select {
            height: 30px;
            min-width: 60px;
            border: none;
            border-radius: 2px;
            margin-right: 10px;
            font-size: 20px;
        }
        span {
            align-self: center;
        }
    }
    .cmn--btn {
        margin: 7px;
        padding: 12px 20px 8px;
    }
    margin: -7px;
}
.word--nobreak {
    white-space: nowrap;

}
.quick-reservation-form {
    .form-group {
        width: 100%;
        .cmn--btn {
            display: block;
            width: 100%;
        }
        @include breakpoint(max-lg) {
            width: calc(100% / 3);
        }
        @include breakpoint(max-md) {
            width: calc(100% / 2);
            flex-grow: 1;
        }
        @media screen and (max-width:450px) {
            width: 100%;
        }
        select.form-control {
            -webkit-appearance: button;
        }
    }
}
.ui-icon-circle-triangle-e {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
    cursor: pointer;
}
.ui-icon-circle-triangle-w {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(-45deg);
    cursor: pointer;
}

.trip-banner-item {
    height: calc(100vh - 100px);
    @include breakpoint(max-sm) {
        height: 500px;
    }
}
.trip-thumbs-slider {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: rgba($color:$title, $alpha:.8);
    z-index: 9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .sync2 {
        max-width: 550px;
        margin: 0 auto;
    }
}
.trip-banner-item-thumb {
    height: 90px;
    cursor: pointer;
    position: relative;
    &::before {
        background: rgba($color:$title, $alpha:.6);
        inset: 0;
        position: absolute;
        content: "";
        opacity: 0;
        @include transition($transition);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include breakpoint(max-sm) {
        height: 70px;
    }
}
.owl-item {
    &.synced {
        .trip-banner-item-thumb {
            @include transform(scale(0.9));
            &::before {
                opacity: 1;
            }
        }
    }
}
.trip-slider-wrapper {
    @include breakpoint(max-lg) {
        @include breakpoint(md) {
            margin-left: -180px;
            margin-right: -180px;
        }
    }
}

.review-form-group {
    .form--label {
        text-transform: capitalize;
        font-family: $heading;
        margin-bottom: 10px;
        color: $title;
    }
    .form--control {
        border: 1px solid #e5e5e5 ;
        background: $white !important;
        color: $title !important;
        &::placeholder {
            color: $title !important;
        }
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
            transition: background-color 5000s;
            -webkit-text-fill-color: $title !important;
        }
    }
    textarea.form--control {
        height: 120px;
        padding: 15px;
    }
    .form--check {
        input {
            border: none;
            &:checked {
                background-color: $base;
                border-color: $base;
                box-shadow: none !important;
                &:focus {
                    box-shadow: 0 0 0 0.25rem rgba($color:$base, $alpha:.25) !important;
                }
            }
        }
    }
}
.checkout-info {
    li {
        padding: 0;
    }
}
.checkout-widget {
    li {
        font-size: 14px;
    }
    .input--group {
        .form--control {
            color: $title !important;
            &::placeholder {
                color: $title !important;
            }
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
                transition: background-color 5000s;
                -webkit-text-fill-color: $title !important;
            }
        }
    }
}
.checkout-book-info {
    li {
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: 10px 0;
        span {
            width: 50%;
            &.name {
                font-weight: 500;
                font-family: $heading;
                text-transform: capitalize;
            }
        }
    }
}
.checkout--table {
    width: 100%;
    empty-cells: hide;
    th {
        border: 1px solid $border-color;
        text-align: center;
        padding: 10px ;
        font-family: $heading;
    }
    td {
        font-size: 14px;
        border: 1px solid $border-color;
        text-align: center;
        padding: 10px ;
    }
    .e-service {
        max-width: 150px;
        margin: 0 auto;
    }
    .p-subtitle {
        font-size: 16px;
    }
}