@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Open+Sans&display=swap');

@import '_abstracts/_mixins';
@import '_abstracts/_variables';
@import '_base/_typography';
@import '_base/_global';
@import '_base/_about';
@import '_base/color_control';
@import '_layout/_footer';
@import '_layout/_forms';
@import '_layout/_header';
@import '_layout/_banner';
@import '_layout/_dashboard';
@import '_layout/_section';
@import '_layout/_animation';
@import '_layout/_blog';
@import '_components/_buttons';

.menu {
    >li {
        &:last-child {
            .submenu {
                left: unset;
                right: 0;
            }
        }
    }
}
.pagination {
    margin: -3px;
    margin-top: 25px;
    justify-content: center;

    .page-item {
        text-align: center;
        padding: 3px;

        a,
        span {
            width: 38px;
            height: 38px;
            line-height: 38px;
            @include border-radius(3px);
            background: rgba($color: $base, $alpha:.2);
            color: $title;
            padding: 0;
            display: block;
            margin: 0;
            border: 1px solid rgba($color:$title, $alpha:.2);
            box-shadow: none;
            span {
                border: none;
                line-height: 34px;
            }
            &.active,
            &:hover {
                background: $base;
                color: $white;
                border: 1px solid rgba($color:$title, $alpha:.2);
                span {
                    border: none;
                }
            }
        }



        &.disabled {
            span {
                background: rgba($color:$base, $alpha:.3);
                border: none;
                color: $title;
            }
        }
    }
}
a {
    text-decoration: none;
}




.form--control {
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
        transition: background-color 5000s;
        -webkit-text-fill-color: #fff !important;
    }
    &.text--title {
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
            transition: background-color 5000s;
            -webkit-text-fill-color: $title !important;
        }

    }
}

.faq__item {
    border-bottom: 1px solid $border-color;
    .faq__title {
        padding: 15px 0;
        display: flex;
        cursor: pointer;
        .right--icon {
            width: 25px;
            position: relative;
            &::after, &::before {
                content: '';
                position: absolute;
                background: $body-color;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%))
            }
            &::after {
                width: 20px;
                height: 2px;
            }
            &::before {
                height: 20px;
                width: 2px;
            }
        }
        .title {
            width: calc(100% - 25px);
            margin: 0;
            font-size: 20px;
            padding-left: 15px;
            color: $body-color;
        }
    }
    &.open {
        .faq__title {
            .title {
                color: $base;
            }
            .right--icon {
                &::after {
                    background: $base;
                }
                &::before {
                    display: none;
                }
            }
        }
    }
    .faq__content {
        display: none;
        padding: 0px 0 20px;
    }
    &.active {
        .faq__content {
            display: block;
        }
    }
    &:first-child {
        .faq__title {
            padding-top: 0;
        }
    }
}

