@media (max-width: 1199px) and (min-width: 768px) {
  .aboutThumbTwo {
    max-width: 460px;
  }
}

@media (max-width: 1199px) {
  .discount__thumb img {
    max-width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .discount__thumb {
    text-align: center;
  }

  .discount__thumb img {
    max-width: 560px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .discount__thumb img {
    max-width: 560px;
  }
}
