.headerBottom {
  position: sticky;
  top: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  background: #ffffff;
  border-bottom: 1px solid transparent;
}

.headerBottom.active {
  background: #ffffff;
  border-color: #e1e1e1;
}

.headerWrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
