
.socialIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -3px;
}

.socialIcons li {
    padding: 3px;
}

.socialIcons li a {
    width: 28px;
    height: 28px;
    line-height: 23px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #e4405f;
    color: #fff;
    margin: 0;
    display: block;
    font-size: 14px;
}
@media (max-width: 767px) {
    .socialIcons {
        padding-bottom: 5px;
    }
}