.filter-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
    @include breakpoint(md) {
        margin-bottom: 45px;
    }
    li {
        padding: 0 15px;
        @include border-radius(20px);
        @include transition($transition);
        font-weight: 500;
        font-family: $heading;
        color: $title;
        cursor: pointer;
        &.active {
            color:  $base;
            text-decoration: underline;
        }
    }
}
.destination__item {
    padding: 12px;
    &-inner {
        display: block;
        color: $body-color;
        position: relative;
        @include border-radius(5px);
        overflow: hidden;
    }
    &-thumb {
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition($transition);
        }
        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background: linear-gradient(0deg, $title 20%, rgba(0,0,0,0) 100%);
            opacity: .8;
            z-index: 1;
            @include transition($transition);
        }
        position: relative;
    }
    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding: 30px;
        @include transition($transition);
        max-width: 500px;
        .badge {
            @include border-radius(5px);
            margin-top: 10px;
            padding: 5px;
            font-family: $heading;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &-title {
        color: $white;
        font-size: 20px;
    }
    .room-location {
        display: block;
        margin-bottom: 10px;
        i {
            color: $base;
        }
    }
    &:hover {
        .destination__item-thumb {
            img {
                @include transform(scale(1.2));
            }
        }
        .destination__item-content {
            bottom: 40px;
        }
    }
    width: calc((100% / 3));
    height: 525px;
    &:nth-of-type(7n + 2),
    &:nth-of-type(7n + 6)
     {
        width: calc((100% / 3) * 2);
    }
    @include breakpoint(max-xl) {
        height: 475px;
        .destination__item-thumb {
            height: 450px;
        }
    }
    @include breakpoint(max-lg) {
        height: unset;
        width: calc(100% / 2) !important;
        .destination__item-thumb {
            height: 350px;
        }
    }
    @include breakpoint(max-md) {
        height: unset;
        width: calc(100% / 1) !important;
    }
    @media screen and (max-width:450px) {
        .destination__item-content {
            padding: 0 15px 30px;
        }
    }
}
.m--12 {
    margin: -12px;
}
.rating {
    color: $star;
}
.tour__pack {
    background: $section-bg;
    @include border-radius(7px);
    border: 1px solid $border-color;
    box-shadow: 0 0 15px rgba($title, .051);
    &:hover {
        box-shadow: 0 10px 20px rgba($title, .21);
    }
    &-thumb {
        padding: 15px;
        position: relative;
        .badge {
            padding: 8px 15px;
            @include border-radius(0 4px 4px 0);
            font-size: 14px;
            position: absolute;
            top: 30px;
            left: -1px;
            z-index: 1;
        }
        a {
            display: block;
            overflow: hidden;
            @include border-radius(5px);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include transition($transition);
                @include transform(scale(1.1))
            }
            @include breakpoint(md) {
                height: 265px;
            }
            @include breakpoint(lg) {
                height: 240px;
            }
            @include breakpoint(xl) {
                height: 295px;
            }
        }
    }
    &-content {
        padding: 5px 15px 0;
    }
    &-title {
        font-size: 20px;
        margin-bottom: 15px;
        a {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dutation__grp {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .item {
            display: flex;
            align-items: center;
            .icon {
                font-size: 46px;
                color: $base;
            }
            .cont {
                padding-left: 8px;
                .item-title {
                    font-size: 16px;
                    margin: 0;
                    margin-bottom: -3px;
                }
                .info {
                    font-size: 14px;
                }
            }
            @media screen and (max-width:450px) {
                .icon {
                    font-size: 36px;
                }
                .cont {
                    .item-title {
                        font-size: 14px;
                    }
                    .info {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .price__tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        .price {
            font-size: 24px;
            line-height: 1;
            font-family: $heading;
        }
        .cmn--btn {
            padding: 8px 28px;
        }
        @media screen and (max-width:450px) {
            .price {
                font-size: 20px;
            }
            .cmn--btn {
                padding: 7px 25px;
            }
        }
    }
    &:hover {
        .tour__pack-thumb {
            a img {
                @include transform(scale(1.2))
            }
        }
    }
}
.badge {
    font-family: $heading;
}
.bg--section {
    .tour__pack {
        background: $body-bg;
    }
}
.clients__item {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // &-thumb {
    //     width: 500px;
    //     @include transition($transition);
    // }
    &-content {
        align-self: center;
        // width: calc(100% - 500px);
        // max-width: 550px;
        @include transition($transition);
        padding-left: 30px;
        .name {
            display: flex;
            align-items: flex-end;
            &::before {
                width: 40px;
                height: 3px;
                background: $base;
                content: '';
                display: block;
            }
            margin-bottom: 10px;
        }
        .info {
            font-size: 14px;
        }
        blockquote {
            font-family: $heading;
            font-size: 20px;
            line-height: 1.4;
            color: $body-color;
            font-style: italic;
            margin-bottom: 20px;
            &::before {
                font-family: "Line Awesome Free";
                font-weight: 700;
                content: '\f10d';
                font-size: 70px;
                line-height: 1;
                color: $base;
                font-style: normal;
            }
        }
    }
    @include breakpoint(max-lg) {
        // &-thumb {
        //     width: 350px;
        // }
        &-content {
            // width: calc(100% - 350px);
            blockquote {
                font-size: 16px;
                font-style: normal;
            }
        }
    }
    @include breakpoint(max-md) {
        // &-thumb {
        //     max-width: 250px;
        //     width: 1005px;
        // }
        &-content {
            width: 100%;
            padding: 10px 0 0;
        }
    }
}
.rtl {
    direction: rtl;
}
.clients__thumb {
    img {
        max-width: 760px;
    }
    @include breakpoint(max-xxl) {
        img {
            max-width: 700px;
        }
    }
    @include breakpoint(max-xl) {
        img {
            max-width: 550px;
        }
    }
    @include breakpoint(max-lg) {
        max-width: 450px;
        margin: 0 auto 20px;
        img {
            max-width: 100%;
        }
    }
}
.find-btn {
    color: $base;
    font-family: $heading;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: underline;
}
@include breakpoint(max-xl) {
    .discount__thumb {
        img {
            max-width: 100%;
        }
    }
    @include breakpoint(md) {
        .multiple-tour-thumb {
            max-width: 460px;
        }
        .discount__thumb {
            text-align: center;
            img {
                max-width: 560px;
            }
        }
    }
    @include breakpoint(lg) {
        .discount__thumb {
            img {
                max-width: 560px;
            }
        }
    }
}
.plane-shape {
    position: absolute;
    bottom: 60px;
    right: 0;
}
.plane-shape {
    @include breakpoint(max-xxl) {
        img {
            max-width: 350px;
        }
    }
}
.car-shape {
    position: absolute;
    bottom: -60px;
    right: 0;
    img {
        max-width: 400px;
    }
}
.position-relative {
    .container, .container-fluid {
        position: relative;
    }
}
/*Counter Section*/
.counter--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -12px -30px;
}
.counter__item {
    width: calc(100% / 4);
    padding: 0 12px 30px;
    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    &-inner {
        padding: 30px;
        text-align: center;
        @include border-radius(5px);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 150px;
            width: 100%;
            background: -webkit-linear-gradient(140deg, #ddf4fd 0%, #eaf9ff 100%);
        }
        &-cont {
            position: relative;
            z-index: 1;
            background: $section-bg;
            padding: 30px 15px;
            @include border-radius(5px);
            box-shadow: 0px 10px 15px 0px rgba($title, .1);
        }
    }
    &-info {
        display: block;
        width: 100%;
    }
    .icon {
        height: 60px;
        margin-bottom: 10px;
        img {
            height: 100%;
        }
    }
    &:nth-of-type(4n + 2) {
        .counter__item-inner {
            &::before {
                background: -webkit-linear-gradient(140deg, #fdead3 0%, #fff7ee 100%);
            }
        }
    }
    &:nth-of-type(4n + 3) {
        .counter__item-inner {
            &::before {
                background: -webkit-linear-gradient(140deg, #dafedb 0%, #f0fcf0 100%);
            }
        }
    }
    &:nth-of-type(4n + 4) {
        .counter__item-inner {
            &::before {
                background: -webkit-linear-gradient(140deg, #fedaf4 0%, #fceff7 100%);
            }
        }
    }
}
/*Hero Section*/
.hero-title {
    margin-bottom: 15px;
    color: $white;
    text-align: center;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        color: $light-color;
        a {
            color: $white;
            i {
                color: $base;
            }
        }
        &:not(:last-child) {
            &::after {
                content: '';
                width: 16px;
                height: 2px;
                background: $base;
                display: block;
                margin: 0 10px;
            }
            display: flex;
            align-items: center;
        }
    }
}
.hero-section {
    padding: 80px 0;
    &::before {
        content: "";
        inset: 0;
        position: absolute;
        background: radial-gradient(circle, rgba(3, 30, 68, 0.9) 0%, rgba(3, 30, 68, 0.5) 100%);
    }
    position: relative;
    .container {
        position: relative;
    }
}
.input--group {
    .form-control {
        box-shadow: none;
        border: 1px solid $border-color;
        height: 50px;
    }
    .input-group-text {
        min-width: 50px;
        justify-content: center;
        background: $base;
        color: $white;
        border-color: $base;
    }
}
.search-sidebar {
    background: $white;
    @include border-radius(5px);
    border: 1px solid $border-color;
    max-width: 370px;
    padding: 30px;
    @include transition($transition);
    @include breakpoint(max-lg) {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        height: 100vh;
        overflow-y: auto;
        &:not(.active) {
            @include transform(translateX(-101%));
            visibility: hidden;
            overflow: hidden;
            overflow: hidden;
        }
    }
    .close-searchbar {
        position: absolute;
        right: 15px;
        top: 5px;
        line-height: 1;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 22px;
        color: $danger-color;
    }
}
.filter-btn {
    margin-bottom: 30px;
}
.widget {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &-title {
        display: flex;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 15px;
        &::before {
            content: '';
            width: 30px;
            height: 2px;
            background: $base;
            display: block;
        }
        align-items: flex-end;
    }

    .ui-slider-horizontal .ui-slider-handle {
        margin: 0;
    }
    
    .ui-state-default {
        width: 14px;
        height: 14px;
        display: block;
        border: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        background-color: $base;
        box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
        outline: none;
        cursor: pointer;
        top: -6px;
        position: absolute;
        z-index: 1;
    }
    .ui-widget.ui-widget-content {
        position: relative;
        height: 3px;
        border: none;
        margin-top: 20px;
        margin-bottom: 25px;
        &::after {  
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 3px;
            background: rgba($color:$base, $alpha:.2);
            width: calc(100%);
        }
    }
    .ui-slider-range {
        height: 3px;
        background: $base;
        position: relative;
        z-index: 1;
    }
}
.price-range {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    label {
        margin: 0;
        font-weight: 500;
        color: $title;
        font-family: $heading;
        font-size: 18px;
    }
    input {
        height: unset;
        width: unset;
        padding: 7px;
        background: transparent;
        border: none;
        text-align: right;
        font-weight: 500;
        color: $base;
        padding-right: 0;
        box-shadow: none !important;
        outline: none !important;
        font-family: $heading;
        font-size: 18px;
    }
}
.form--check {
    display: flex;
    align-items: center;
    padding: 0;
    .form-check-input {
        margin: 0;
        margin-right: 10px;
    }
    .form-check-label {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}
.filter-category {
    .form-check {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}